body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

input {
    width: 120px; /* CASE MONTANT AGRANDIE */
    text-align: center;
    font-size: 16px;
}

button {
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    width: 60px;
}

.dice-container {
    margin: 20px auto;
    text-align: center;
}

#dice-result {
    font-size: 50px;
    margin: 10px;
}

.calculator {
    width: 250px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: #f8f8f8;
}

#calc-screen {
    background: black;
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
}

.calc-buttons {
    display: flex;
    justify-content: center;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.operations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
}
